div.parallax-container {
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-color: rgb(36, 36, 36, 1.0);
	background-blend-mode: overlay;
	z-index: -999;
}

.parallax-text {
	width: 65vw;
}

h2.parallax-text {
	padding-top: 85px;
	padding-bottom: 20px;
	font-size: calc(10px + 5vw);
}

h3.parallax-text {
	margin: 20px 0;
	font-size: calc(10px + 3vw);
}

@media only screen and (max-width: 560px) {
	.parallax-text {
		width: 90vw;
	}
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */

@media only screen and (max-device-width: 768px) {
	div.parallax-container {
		background-attachment: scroll;
	}
}