img.logo {
	border-radius: 46%;
	box-shadow: 0 0 10px 2px #011a4a;
	position: relative;
	border: .4vmin solid white;
	animation: App-logo-spin infinite 20s linear;
}

header h5.brand {
	font-size: calc(10px + 6vmin);
}