img.logo {
	border-radius: 50%;
	box-shadow: 0 0 10px 2px #011a4a;
	position: relative;
	border: 2px solid white;
}

header h5.brand {
	font-size: calc(10px + 6vmin);
}

div.header header {
	box-shadow: 0 2px 10px 2px #011a4a;
}

button.navigation-link {
	display: none;
}

@media only screen and (min-width: 480px) {
	button.hamburger {
		display: none;
	}
	button.navigation-link {
		display: block;
	}
}