img.logo {
	border-radius: 50%;
	box-shadow: 0 0 10px 2px #011a4a;
	position: relative;
	border: 2px solid white;
}

img.logo:hover, header h5.brand {
	cursor: pointer;
}

header h5.brand {
	font-size: calc(10px + 3vw);
	font-family: 'Homemade Apple';
}

div.header header {
	box-shadow: 0 2px 10px 2px #011a4a;
}

button.navigation-link {
	display: none;
}

a {
	text-decoration: none;
}

.hamburger a {
	color: #fff;
}

/* Smallest width before text collision */

@media only screen and (min-width: 560px) {
	button.hamburger {
		display: none;
	}
	button.navigation-link {
		display: block;
	}
}

@media only screen and (max-width: 370px) {
	header h5.brand {
		font-size: calc(10px + 2vw);
	}
}

/* Keep brand fixed after going above 640 px */

@media only screen and (min-width: 768px) {
	header h5.brand {
		font-size: 2.5rem;
	}
}

@media only screen and (max-width: 620px) {
	header h5.brand {
		font-size: calc(10px + 2.5vw);
	}
}