div.parallax-container {
	opacity: 90%;
	height: 640px;
	background: url(../../images/beverage-background.jpg) no-repeat center center fixed;
	background-size: cover;
	background-attachment: fixed;
	background-color: rgba(1, 26, 74, 0.85);
	background-blend-mode: overlay;
	z-index: -1;
}

h2.parallax-text {
	color: whitesmoke;
	margin: 0 auto;
	width: 65%;
	padding: 15px;
	padding-top: 94px;
	z-index: 100;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */

/* 
@media only screen and (max-device-width: 860px) {
	div.parallax-container {
		background-attachment: scroll;
	}
} */